*{
    padding: 0;
    margin : 0;
    list-style: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root{
    --primary-color : #1565df;
    --secondary-color : #f7931e;
    --main-text-color : #1a1a1a;
    --second-text-color: #666666;
    --pale-text-color: #999999;
    --bg-color : #f8f8f8;

    font-family: sans-serif;
}

h1,h2,h3,h4,h5,h6,button{
    font-family: sans-serif;
}

body{
    background-color: var(--bg-color);
}